packages
bin
obj
release
TestResults
artifacts
*.user
*.jtconfig
*.suo
*.lutconfig
.JustCode/PersistanceMap.solution-user.settings.xml
.JustCode/PersistanceMap.solution-user.settings.xml
_Resharper.*
.vs
.idea
.nuke/temp
